
.hero-full-screen {
    height: 100vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: url("../images/background.jpg") center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: scroll;
  }
  
  .hero-full-screen .middle-content-section {
    text-align: center;
    color: #fefefe;
  }

  h1, h2 {
    font-family: 'Inconsolata', monospace;
  }

  label, p {
    font-family: 'Inconsolata', monospace;
    color: #fefefe;
    font-size: 1.6rem;
    text-align: left;
  }
  
  .hero-full-screen .top-content-section {
    width: 100%;
  }
  
  .hero-full-screen .bottom-content-section {
    padding: 1rem;
  }
  
  .hero-full-screen .bottom-content-section svg {
    height: 3.75rem;
    width: 3.75rem;
    fill: #fefefe;
  }
  
  .hero-full-screen .top-bar {
    background: transparent;
  }
  
  .hero-full-screen .top-bar .menu {
    background: transparent;
  }
  
  .hero-full-screen .top-bar .menu-text {
    color: #fefefe;
  }
  
  .hero-full-screen .top-bar .menu li {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    float: left;
  }
  
  .hero-full-screen .top-bar .menu button{
    color: #fefefe;
    font-weight: bold;
  }
  
  .hero-full-screen #bioPage, #contactForm, .projects-container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1rem;
  }

  @media screen and (min-width: 980px) {
    #bioPage, #contactForm, .projects-container {
      margin-left: 5rem;
      margin-right: 5rem;
    }
  }

  .projects-container {
    width: auto;
   
  }

  .responsive {
    width: 50%;
    height: auto;
}

.projects-container, .box {
  position: relative;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
  }
}

#headshot {
  width: 200px;
  height: 185px;
  float: left;
  padding-right: 10px;
  margin-left: 30px;
}

* {
  box-sizing: border-box;
}

input[type=text], textarea {
  width: 45rem;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

textarea {
  height: 10rem;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}